<div class="container">
  <md-card class="demo-card demo-basic">
    <md-card-content style="font-size: 18px;">
      <div class="imgcontainer">
          <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
      </div>

      <md-input #emailInput class="demo-full-width" placeholder="Account E-mail" required>
        <!-- <md-hint align="left">
              <div class="alert success">
                <strong>Success!</strong> An e-mail has been sent to this e-mail
              </div>
        </md-hint> -->
      </md-input>
      <button md-raised-button  (click)="reset($event)">Reset</button>

      <div style="background-color:#f1f1f1">
        <span class="psw"><a routerLink="/login">LogIn</a></span>
      </div>
    </md-card-content>
  </md-card>
</div>