.white {color: #f2f2f2;}

.logo { height: 19%; }

.header-cont{
  padding-left: 42%; 
  padding-top: 1%;
}

.top-left{
  padding: 3% 0 0 0%;
  float: left;
  position: fixed;
  z-index: 1;
}

.fa-own{
    font-size: 2.5em;
}
/*
  change format for portrait 
@media (min-width: 768px) { 
  .logo { height: 10%; }

  .header-cont{
    padding-left: 34%; 
    padding-top: 1%;
  }
}*/

@media (max-width: 480px) { 
  .logo { 
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.9);
    margin-top: 0px;
  }

  .header-cont {
    padding-left: 15%;
    padding-top: 1%;
  }

  .backGColor{
    background-color: #eee;
  }

  .menu-icon{
    display: inline-block; 
    top: 3%; 
    position: fixed;
  }
}

.menu {
  background-color: rebeccapurple; 
  height: 100%;
  position: fixed;
  z-index: 2;
  position: fixed;
  left: -15px;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'roboto', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.profile-div {
  cursor: pointer;
  padding-right: 9%;
  padding-left: 9%;
  padding-top: 10px;
  display: table-caption;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i { margin-right: 5px; }

.img-circle {
    width: 160px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.profile-name{
  color: white;
  font-size: 1.6em;
  text-align: center;
  padding-left: 10px;
}

.profile-location{
  color: white;
  font-size: 1.1em;
  text-align: center;
  padding-left: 5px;
}

.md-primary {
  background: #FFEB3B;
}

li:hover{
  background-color: indigo;
}