<div class="w3-container">
    <ul class="topnav" id="myTopnav">
      <li class="left"><a class="textAlign" href="/"><img alt="Brand" src="../../../../imgs/cropped-logo.png" class="header-image"></a></li>
      
      <li class="right">
        <div style="position:absolute; right: 110px;">
            <i class="fa fa-user w3-xxxlarge white" aria-hidden="true"></i>    
        </div>
        <div>
            <br> 
            <p class="white" style="display: inline-block; margin-top: 0.8cm; padding-right: 1.5cm;">First floor -- 8 hrs</p>
            <div class="dropdown" style="float:right;">
              <i class="fa fa-bars fa-2x pull-left white" aria-hidden="true" style="position:absolute; right:25px; top:15px;"></i>
              <div class="dropdown-content" style="top:45px;">
                <a href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</a>
                <a href="#"><i class="fa fa-cog fa-2x" aria-hidden="true"></i> Settings</a>
                <a href="#"><i class="fa fa-info fa-2x" aria-hidden="true"></i> Hours info</a>
              </div>
            </div>
        </div>
      </li>
    </ul>
</div>
<br>