.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-action {
  display: inline-block;
  position: fixed;
  right: 5%;
  top: 1%;
}

.icon-button{
    border-radius: 50%;
    height: 39px;
    min-width: 0;
    padding: 0;
    width: 40px;
}

.icon{
    padding: 0px 0;
}

.top-Nav{
    background-color: #663399;
    height: 10%;
}

.md-toolbar .nav-bar{
    background-color: #663399;
    height: 10%;
}

.md-nav-bar{
    background-color: #663399;
    height: 10%;
}

.white {color: #f2f2f2;}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}