.my-container-center{
    
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
    /* just for example presentation */
    background-color: white;
}