<div class="w3-container my-container-center">
  <div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row">
      <input type="text" pTooltip="Search by Name" tooltipPosition="top">
      <input type="text" pTooltip="Search by Name" tooltipPosition="top">
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-8 w3-border w3-border-purple w3-margin">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jose Prado<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
        </div>
        <div class="ui-grid-col-8 w3-border w3-border-purple w3-margin">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jose Prado<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-8 w3-border w3-border-purple w3-margin">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jose Prado<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
        </div>
        <div class="ui-grid-col-8 w3-border w3-border-purple w3-margin">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jose Prado<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-8 w3-border w3-border-purple w3-margin">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jose Prado<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
        </div>
        <div class="ui-grid-col-8 w3-border w3-border-purple w3-margin">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jose Prado<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-8 w3-border w3-border-purple w3-margin">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jose Prado<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
        </div>
        <div class="ui-grid-col-8 w3-border w3-border-purple w3-margin">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jose Prado<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
        </div>
    </div>
  </div>
</div>

<div class="w3-container">
  <h5>Footer</h5>
</div>