.search-div{
  margin-left: 33.5%;
  position: fixed;
  z-index: 1;
  display: none;
}

.demo-basic {
  padding: 0;
}
.demo-basic md-card-content {
  padding: 16px;
}
.demo-full-width {
  width: 100%;
}

.demo-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit;
}

.demo-card {
  margin: 16px;
}

.card{
  width: 30%; 
  display: inline-block; 
  margin: 5px;
}

.cards-div{
  background-color: transparent; 
  margin-left: 5%;
  top: 4px;
  padding-right: 0px;
  padding-left: 15px;
}

.input-width {
    width: 870px;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 40%;
}
.modal-content-error {
    margin: 1% 0% 0% 21%;
    border: 1px solid #888;
    width: 50%;
    height: 70%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fieldset{
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}

@media (max-width: 480px) { 
  .card{
    width: 100%;
  }

.search-div{
  margin-left: 5%;
}

  .search-div{
    margin-left: 5%;
    margin-left: 2%;
  }

  .cards-div{
    width: 94%; 
    background-color: transparent; 
    margin-left: 0%;
  }
}