<div class="background">
      <nav-bar></nav-bar>

      <div class="w3-container my-container-center">
        <div class="w3-card-2 w3-hover-shadow" style="width:30%">
          <div class="">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jerson Montenegro<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
          </div>
        </div>
        <div class="w3-card-2 w3-hover-shadow" style="width:30%">
          <div class="">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jerson Montenegro<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
          </div>
        </div>
        <div class="w3-card-2 w3-hover-shadow" style="width:30%">
          <div class="">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jerson Montenegro<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
          </div>
        </div>
        <div class="w3-card-2 w3-hover-shadow" style="width:30%">
          <div class="">
            <p><i class="fa fa-info" aria-hidden="true"></i> Jerson Montenegro<br><i class="fa fa-map-marker" aria-hidden="true"></i> second floor in Architecture and Fine Arts Library<br><i class="fa fa-phone-square" aria-hidden="true"></i>: 3524663805</p>
          </div>
        </div>
      </div>

      <div class="w3-container">
        <h5>Footer</h5>
      </div>
    </div>